.home-container{
    width: 100%;

}

.blog{
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 3vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    list-style: none;
    border-radius: 10px;
    margin-top: 3vh;
}